
 .dz{
     border: dashed ! important;
     border-radius:10 px ! important;
 }

 .dz:hover{
     border-color:blue ! important;
 }
 .table th{
     padding-top: 10px;
     padding-bottom: 10px;
     background-color: skyblue;
     color: white;
 }

